enable-pre-post-scripts=true
public-hoist-pattern[]=*esbuild*
public-hoist-pattern[]=*better-sqlite3*
public-hoist-pattern[]=*sharp*
public-hoist-pattern[]=*workerd*
auto-install-peers=true
strict-peer-dependencies=false